# Which hard drives are the most reliable?

In [7]:
import pandas as pd
import numpy as np

import acquire

## Project Plan

Goals
- determine 

Hypotheses
- h1 
- h2

## Acquire

The raw data is available on Backblaze.com. For this analysis, the hard drive data from 2016, 2017, 2108, and 2019 was utilized. The files were downloaded to a local computer and the files were unzipped. The files were renamed to the format, "data_Qx_201x", and placed in a folder titled "data". 

The `acquire.acquire_agg_data` function reads in the data, aggegrates it, and returns the dataframe in pandas. 
- Using Spark, a dataframe was created from each directory of csv files. The dataframes are concated together with their common columns. This gave a dataframe with 95 columns and 121,390,247 rows. 
- Backblaze identified 5 SMART stats that predict hard drive failure (SMART 5, 187, 188, 197, 198). The max value of each of these stats were extracted and the dataframe was aggegrated by serial number. This reduced the dataframe to 9 columns and 169,073 rows. 
- The spark dataframe is converted to pandas 
- The pandas dataframe is saved as "hard_drives_smart_5.csv" for future use

In [4]:
df = acquire.acquire_agg_data()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169073 entries, 0 to 169072
Data columns (total 9 columns):
serial_number         169072 non-null object
model                 169073 non-null object
capacity_bytes        169073 non-null int64
max(failure)          169073 non-null int64
max(smart_9_raw)      161975 non-null float64
max(smart_5_raw)      161851 non-null float64
max(smart_187_raw)    104189 non-null float64
max(smart_197_raw)    161841 non-null float64
max(smart_198_raw)    161841 non-null float64
dtypes: float64(5), int64(2), object(2)
memory usage: 11.6+ MB

In [6]:
df.head()

,serial_number,model,capacity_bytes,max(failure),max(smart_9_raw),max(smart_5_raw),max(smart_187_raw),max(smart_197_raw),max(smart_198_raw)
0,176FT026T,TOSHIBA MQ01ABF050M,500107862016,0,9965.0,0.0,NaN,0.0,0.0
1,17eddeea3c620010,DELLBOSS VD,480036847616,0,NaN,NaN,NaN,NaN,NaN
2,18K0A02ZF97G,TOSHIBA MG07ACA14TA,14000519643136,1,99.0,43.0,NaN,0.0,0.0
3,2AGHLPBY,HGST HUH721212ALN604,12000138625024,0,990.0,0.0,NaN,0.0,0.0
4,2AGM5WEY,HGST HUH721212ALN604,12000138625024,0,978.0,0.0,NaN,0.0,0.0

## Prepare