In [4]:
import pandas as pd
import numpy as np
import re 

df=pd.read_csv('all_data.csv')

In [5]:
def prepare(df):
    
    # Convert capacity column from bytes to gigabytes
    df['capacity_bytes'] = round((df['capacity_bytes']/ 1_000_000_000),1)

    # Convert power hours to years
    df['max(smart_9_raw)'] = round((df['max(smart_9_raw)']/ 8760),1)

    # Create a new column for manufacturer
    df['manufacturer'] = df.model.apply(get_manufacturer)
    
    # Rename columns appropriately
    df = df.rename(columns={'capacity_bytes':'capacity_gigabytes',
                        'max(failure)':'failure',
                        'max(smart_9_raw)':'drive_age_in_years',
                        'max(smart_5_raw)':'reallocated_sectors_count',
                        'max(smart_187_raw)':'reported_uncorrectable_errors',
                        'max(smart_188_raw)':'command_timeout',
                        'max(smart_197_raw)':'current_pending_sector_count',
                        'max(smart_198_raw)':'uncorrectable_sector_count'})

    # Reorder columns 
    df = df[['serial_number','manufacturer','model','capacity_gigabytes',
          'failure','drive_age_in_years','reallocated_sectors_count',
         'reported_uncorrectable_errors','command_timeout',
          'current_pending_sector_count','uncorrectable_sector_count']]
    
    return df

df = prepare(df)

NameError: name 'get_manufacturer' is not defined

In [ ]:
df.serial_number.value_counts()

In [ ]:
df.capacity_gigabytes.value_counts(ascending=False)

In [ ]:
df = df[df.capacity_gigabytes > 0]

In [ ]:
df.capacity_gigabytes.value_counts()

In [ ]:
df.serial_number.value_counts().head(13)

In [ ]:
df[df.serial_number=='Z300GZEK']

drop 68273 for nans

In [ ]:
df[df.serial_number=='Z3025LKQ']

drop 50408 for nans

In [ ]:
df[df.serial_number=='PL2331LAHB93UJ']

Drop both don't know which is the typo

In [ ]:
df[df.serial_number=='PL2331LAGSTGLJ']

Drop both don't know which is the typo

In [ ]:
df[df.serial_number=='ZA13QBK3']

Drop both don't know which is the typo

In [ ]:
df[df.serial_number=='Z300KYSQ']

drop 31687

In [ ]:
df[df.serial_number=='Z3015CGY']

drop 20823

In [ ]:
df[df.serial_number=='PL1331LAGSR5WH']

drop both

In [ ]:
df[df.serial_number=='Z304JM43']

drop 4177

In [ ]:
df[df.serial_number=='Z305GFM1']

drop 78104

In [ ]:
df[df.serial_number=='PL1331LAGRHDZH']

drop both

In [ ]:
df[df.serial_number=='Z3016L2T']

drop 95249

In [ ]:
df[df.serial_number=='Z3025LKQ']

drop 26969

In [ ]:
df=df.drop([68273,50408,37150,154660,162948,50816,156370,31687,20823,75191,132189,4177,78104,103620,141505,95249,26969])

In [ ]:
df.serial_number.value_counts()

In [ ]:
def There_can_be_only_one(df):
    
    df = df[df.capacity_gigabytes > 0]
    
    df = df.drop([68273,50408,37150,154660,162948,50816,156370,31687,20823,75191,132189,4177,78104,103620,141505,95249,26969])
    
    return df

In [ ]:
df=pd.read_csv('all_data.csv')

df = prepare(df)

df = There_can_be_only_one(df)

df.serial_number.value_counts()

In [ ]:
df.shape

In [ ]:
df.dropna().shape

In [ ]:
169073-104178

In [ ]:
64895/169073

3 years = 26280

5 years = 43800

In [ ]:
df=df_dropna

In [ ]:
df[['three_years']]= ((df[['max(smart_9_raw)']] >= 26280) | (df[['max(failure)']]==0))

In [ ]:
df.three_years.sum()

In [ ]:
df[['five_years']]= df[['max(smart_9_raw)']] >= 43800

In [ ]:
df.five_years.sum()