In [1]:
import pandas as pd
import numpy as np
import re 

df=pd.read_csv('all_data.csv')

In [2]:
def prepare(df):
    
    # Convert capacity column from bytes to gigabytes
    df['capacity_bytes'] = round((df['capacity_bytes']/ 1_000_000_000),1)

    # Convert power hours to years
    df['max(smart_9_raw)'] = round((df['max(smart_9_raw)']/ 8760),1)

    # Drop unnamed column
    df.drop(columns=('Unnamed: 0'), inplace = True)
    
    # Rename columns appropriately
    df.rename(columns={'capacity_bytes':'capacity_gigabytes','max(failure)':'failure','max(smart_9_raw)':'drive_age_in_years','max(smart_5_raw)':'reallocated_sectors_count','max(smart_187_raw)':'reported_uncorrectable_errors','max(smart_188_raw)':'command_timeout','max(smart_197_raw)':'current_pending_sector_count','max(smart_198_raw)':'uncorrectable_sector_count'}, inplace = True)
    
    return df

df = prepare(df)

In [3]:
df.serial_number.value_counts()

PL2331LAHB93UJ    3
ZA18CDJJ          2
PL2331LAHDUMJJ    2
ZJV00HK1          2
ZA16HN85          2
                 ..
ZCH07RST          1
Z304HL5X          1
ZJV0NW0B          1
AAG6MB7H          1
ZCH07WQ3          1
Name: serial_number, Length: 162030, dtype: int64

In [4]:
df.capacity_gigabytes.value_counts(ascending=False)

 4000.8     64886
 12000.1    50729
 8001.6     26108
-0.0         7031
 3000.6      6789
 2000.4      4678
 500.1       2547
 6001.2      2411
 14000.5     1302
 10000.8     1255
 1000.2       388
 1500.3       267
 250.1        211
 160.0        209
 320.1        116
 480.0         60
 5001.0        46
 80.0          32
 137.4          7
 250.0          1
Name: capacity_gigabytes, dtype: int64

In [5]:
df = df[df.capacity_gigabytes > 0]

In [6]:
df.capacity_gigabytes.value_counts()

4000.8     64886
12000.1    50729
8001.6     26108
3000.6      6789
2000.4      4678
500.1       2547
6001.2      2411
14000.5     1302
10000.8     1255
1000.2       388
1500.3       267
250.1        211
160.0        209
320.1        116
480.0         60
5001.0        46
80.0          32
137.4          7
250.0          1
Name: capacity_gigabytes, dtype: int64

In [7]:
df.serial_number.value_counts().head(13)

Z3025LKQ          2
ZA13QBK3          2
PL1331LAGSR5WH    2
Z3016L2T          2
Z304JM43          2
Z300GZEK          2
Z300KYSQ          2
PL2331LAHB93UJ    2
PL1331LAGRHDZH    2
PL2331LAGSTGLJ    2
Z305GFM1          2
Z3015CGY          2
ZCH028KX          1
Name: serial_number, dtype: int64

In [8]:
df[df.serial_number=='Z300GZEK']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
68273,Z300GZEK,ST4000DM000,137.4,1,NaN,NaN,NaN,NaN,NaN,NaN
73598,Z300GZEK,ST4000DM000,4000.8,0,4.0,0.0,0.0,0.0,0.0,0.0

drop 68273 for nans

In [9]:
df[df.serial_number=='Z3025LKQ']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
26969,Z3025LKQ,ST4000DM000,4000.8,0,2.5,0.0,0.0,4.0,0.0,0.0
50408,Z3025LKQ,ST4000DM000,137.4,1,NaN,NaN,NaN,NaN,NaN,NaN

drop 50408 for nans

In [10]:
df[df.serial_number=='PL2331LAHB93UJ']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
37150,PL2331LAHB93UJ,HGST HMS5C4040BLE640,4000.8,0,0.9,0.0,NaN,NaN,8.0,0.0
154660,PL2331LAHB93UJ,HGST HMS5C4040ALE640,4000.8,0,0.6,0.0,NaN,NaN,0.0,0.0

Drop both don't know which is the typo

In [11]:
df[df.serial_number=='PL2331LAGSTGLJ']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
153434,PL2331LAGSTGLJ,HGST HMS5C4040ALE640,4000.8,1,2.0,74.0,NaN,NaN,8.0,0.0
162948,PL2331LAGSTGLJ,HGST HMS5C4040BLE640,4000.8,0,1.7,0.0,NaN,NaN,0.0,0.0

Drop both don't know which is the typo

In [12]:
df[df.serial_number=='ZA13QBK3']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
50816,ZA13QBK3,ST8000DM002,8001.6,1,1.1,0.0,0.0,0.0,0.0,0.0
156370,ZA13QBK3,ST8000NM0055,8001.6,0,0.4,0.0,0.0,0.0,0.0,0.0

Drop both don't know which is the typo

In [13]:
df[df.serial_number=='Z300KYSQ']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
5410,Z300KYSQ,ST4000DM000,4000.8,0,3.7,0.0,0.0,0.0,0.0,0.0
31687,Z300KYSQ,ST4000DM000,137.4,1,NaN,NaN,NaN,NaN,NaN,NaN

drop 31687

In [14]:
df[df.serial_number=='Z3015CGY']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
20823,Z3015CGY,ST4000DM000,137.4,0,NaN,NaN,NaN,NaN,NaN,NaN
114058,Z3015CGY,ST4000DM000,4000.8,0,4.0,0.0,0.0,1.288510e+10,0.0,0.0

drop 20823

In [15]:
df[df.serial_number=='PL1331LAGSR5WH']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
75191,PL1331LAGSR5WH,HGST HMS5C4040BLE640,4000.8,0,0.1,0.0,NaN,NaN,0.0,0.0
132189,PL1331LAGSR5WH,HGST HMS5C4040ALE640,4000.8,1,1.6,183.0,NaN,NaN,0.0,0.0

drop both

In [16]:
df[df.serial_number=='Z304JM43']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
4177,Z304JM43,ST4000DM000,137.4,1,NaN,NaN,NaN,NaN,NaN,NaN
5204,Z304JM43,ST4000DM000,4000.8,0,3.3,0.0,0.0,0.0,0.0,0.0

drop 4177

In [17]:
df[df.serial_number=='Z305GFM1']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
2542,Z305GFM1,ST4000DM000,4000.8,0,3.6,0.0,0.0,0.0,0.0,0.0
78104,Z305GFM1,ST4000DM000,137.4,0,NaN,NaN,NaN,NaN,NaN,NaN

drop 78104

In [18]:
df[df.serial_number=='PL1331LAGRHDZH']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
103620,PL1331LAGRHDZH,HGST HMS5C4040BLE640,4000.8,0,1.7,0.0,NaN,NaN,0.0,0.0
141505,PL1331LAGRHDZH,HGST HMS5C4040ALE640,4000.8,1,1.8,0.0,NaN,NaN,0.0,0.0

drop both

In [19]:
df[df.serial_number=='Z3016L2T']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
95249,Z3016L2T,ST4000DM000,137.4,0,NaN,NaN,NaN,NaN,NaN,NaN
161818,Z3016L2T,ST4000DM000,4000.8,0,3.7,0.0,0.0,0.0,0.0,0.0

drop 95249

In [20]:
df[df.serial_number=='Z3025LKQ']

,serial_number,model,capacity_gigabytes,failure,drive_age_in_years,reallocated_sectors_count,reported_uncorrectable_errors,command_timeout,current_pending_sector_count,uncorrectable_sector_count
26969,Z3025LKQ,ST4000DM000,4000.8,0,2.5,0.0,0.0,4.0,0.0,0.0
50408,Z3025LKQ,ST4000DM000,137.4,1,NaN,NaN,NaN,NaN,NaN,NaN

drop 26969

In [21]:
df=df.drop([68273,50408,37150,154660,162948,50816,156370,31687,20823,75191,132189,4177,78104,103620,141505,95249,26969])

In [22]:
df.serial_number.value_counts()

MJ1323YNG1RXSC    1
ZJV02ZQJ          1
MJ1321YNG0LZ2A    1
ZCH07Q0J          1
PL1331LAGSPR5H    1
                 ..
PL1311LAG3275H    1
PL1311LAG3EHPH    1
ZJV0XZ9T          1
PL1331LAHEJM8H    1
ZCH07WQ3          1
Name: serial_number, Length: 162024, dtype: int64

In [23]:
def There_can_be_only_one(df):
    
    df = df[df.capacity_gigabytes > 0]
    
    df = df.drop([68273,50408,37150,154660,162948,50816,156370,31687,20823,75191,132189,4177,78104,103620,141505,95249,26969])
    
    return df

In [24]:
df=pd.read_csv('all_data.csv')

df = prepare(df)

df = There_can_be_only_one(df)

df.serial_number.value_counts()

MJ1323YNG1RXSC    1
ZJV02ZQJ          1
MJ1321YNG0LZ2A    1
ZCH07Q0J          1
PL1331LAGSPR5H    1
                 ..
PL1311LAG3275H    1
PL1311LAG3EHPH    1
ZJV0XZ9T          1
PL1331LAHEJM8H    1
ZCH07WQ3          1
Name: serial_number, Length: 162024, dtype: int64

In [25]:
df.shape

(162025, 10)

In [26]:
df.dropna().shape

(104175, 10)

In [27]:
169073-104178

64895

In [28]:
64895/169073

0.3838282871895572

3 years = 26280

5 years = 43800

In [29]:
df=df_dropna

NameError: name 'df_dropna' is not defined

In [ ]:
df[['three_years']]= ((df[['max(smart_9_raw)']] >= 26280) | (df[['max(failure)']]==0))

In [ ]:
df.three_years.sum()

In [ ]:
df[['five_years']]= df[['max(smart_9_raw)']] >= 43800

In [ ]:
df.five_years.sum()